<h1 style="margin: 10px"> Îles en <%= params[:continent] %></h1>

<%= link_to "retour", root_path, class:'btn btn-ghost', style: 'margin: 20px'%>

<div class="container design-card">
  <div class="d-flex">
    <div class="col-md-9">
      <%=  render 'shared/cardproduct' %>
    </div>
  </div>
</div>
