<h1>Mes prochaines vacances :</h1>

<% @user.bookings.each do |booking| %>
  <div class="container design-card">
    <div class="d-flex">
      <div class="col-md-9">
        <%= render 'shared/cardproduct' %>
      </div>
    </div>
  </div>
<% end %>

