<div class="row">
  <% CONTINENT_CARD.each do |continent| %>
    <div class="col-sm-4">
      <%= link_to islands_path(continent: continent[:name]) do %>
        <div class="card-continent my-3">
          <div class="card-body d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= continent[:image_path] %>)">
            <div><%= continent[:name] %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
