<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-components">
    <a class="apn" href="/A Propos de nous">A propos de nous </a>
    <a class="faq" href="/FAQ">FAQ </a>
    <a class="pec" href="/Politique et confidentialité">Politique et confidentialité </a>
  </div>

</div>

